* {
  box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    padding: 0.25rem;
    background-color: #f5eded;
}

h1 {
    text-align: center;
    color: #403f3f;
}

h2 {
    margin-top: 5%;
}

p {
    font-style: italic;
}

.post-card:nth-child(even) {
    margin-left: 5%;
}