* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.ctas {
  display: flex;
  gap: 30px;
  justify-content: center;
}

h1 {
  text-align: center;
  color: #333;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style-type: none;
  padding: 0;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin: 0 0 10px;
}

.card-body {
  color: #666;
  margin: 0;
}

.button {
  padding: 10px 20px;
  background-color: #2b2929;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.button--back {
    background-color: #555;
    margin-top: 25%
}

.button--success {
  background-color: #4caf50;
}

.button--success:hover {
  background-color: #45a049;
}

.button--danger {
  background-color: #7a0916;
}

.button--danger:hover {
  background-color: #79000cf4;
}

.closeButton {
  position: absolute;
  top: 4px;
  right: 4px;
  background-color: #ccc;
  color: #333;
  border: none;
  border-radius: 6px;
  padding: 4px 8px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

.closeButton:hover {
  background-color: red;
  transform: translateY(-1px);
}

.closeButton:active {
  transform: translateY(1px);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

input {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
}

.update-page #statusContainer {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: #e6ffe6;
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  z-index: 999;
}

.hidden {
  display: none;
}
