* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #214a3d;
  color: #fff;
}

main {
  max-width: 960px;
  margin: 96px auto;
}

form {
  max-width: 448px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 32px 0;
}

input {
  background: #4dad8f;
  border: none;
  border-radius: 8px;
  padding: 16px;
  color: #8fccb8;
}

.input-error {
  color: rgb(240, 231, 231);
  font-size: 14px;
  margin: 0;
  height: 16px;
}

input:focus,
input:not(:placeholder-shown) {
  background-color: #ffffff;
  color: #214a3d;
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset;
  box-shadow: 0 0 0 1000px #ffffff inset;
  -webkit-text-fill-color: #214a3d;
}

.btn-success {
  border: none;
  border-radius: 8px;
  padding: 12px;
  display: block;
  width: 100%;
  font-weight: 900;

  color: #214a3d;
  background-color: #fff;
}

#success {
    font-style: italic;
    text-align: center;
    font-size: 100px;
}




.hidden {
  display: none;
}