* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #17352C;
  color: #fff;
}

main {
  max-width: 960px;
  margin: 96px auto;
}

form {
  max-width: 448px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 32px 0;
}

input {
  background: #245245;
  border: none;
  border-radius: 8px;
  padding: 16px;
  color: #F8FCFA;
}

.input-error {
  color: #ffffff;
  font-size: 14px;
  margin: 0;
  height: 16px;
}

.btn-success {
  border: none;
  border-radius: 8px;
  padding: 12px;
  display: block;
  width: 100%;
  font-weight: 900;

  color: #214a3d;
  background-color: #fff;
}




.hidden {
  display: none;
}