* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #214a3d;
  color: #fff;
}

main {
  max-width: 960px;
  margin: 96px auto;
  padding: 0 24px;
}

form {
  max-width: 448px;
  background: rgba(255, 255, 255, 0.05);
  padding: 32px;
  border-radius: 16px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 32px 0;
}

input {
  background: #4dad8f;
  border: none;
  border-radius: 8px;
  padding: 16px;
  color: #ffffff;
  transition: all 0.2s ease;
}

.input-error {
  color: rgb(98, 37, 37);
  font-size: 14px;
  margin: 0;
  height: 16px;
}

input:focus {
  outline: none;
  border: 2px solid #ffffff;
}

input::placeholder {
  color: #cde8de;
}

.btn-success {
  border: none;
  border-radius: 8px;
  padding: 12px;
  display: block;
  width: 100%;
  font-weight: 900;
  transition: all 0.2s ease;

  color: #214a3d;
  background-color: #fff;
}

.btn-success:hover {
  cursor: pointer;
  background-color: #e8e8e8;
}

.hidden {
  display: none;
}

#success {
  background-color: #4dad8f;
  padding: 32px;
  border-radius: 12px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

label {
  font-weight: 600;
}
