* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.ctas {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  color: #333;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style-type: none;
  padding: 0;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin: 0 0 10px;
}

.card-body {
  color: #666;
  margin: 0;
}

.button {
  padding: 10px 20px;
  background-color: #2b2929;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.button--success {
  background-color: #2e7d32;
}

.button--success:hover {
  background-color: #1b5e20;
}

.button--danger {
  background-color: #7a0916;
}

.button--danger:hover {
  background-color: #79000cf4;
}

.hidden {
  display: none;
}

.card .ctas {
  justify-content: flex-start;
  margin-top: 10px;
}

#statusContainer {
  margin-bottom: 20px;
}

.ctas--left {
  justify-content: flex-start;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group--last {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  color: #333;
  display: inline-block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Arial, sans-serif;
}

input[type="text"]:focus,
input[type="number"]:focus {
  outline: none;
  border-color: #4caf50;
}
