* {
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 2rem;
}

header {
  text-align: center;
  margin-bottom: 2rem;
}

.booking {
  display: flex;
  gap: 2rem;
}

.username_email {
  flex: 1;
  background: white;
  padding: 1rem;
  border-radius: 8px;
}

.username_email label {
  display: block;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.username_email input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  
}

.calendar {
  flex: 2;
  background: white;
  padding: 1rem;
  border-radius: 8px;
}

.calendar label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
}

#date, #name {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 1.5rem;
}

fieldset {
  border: none;
}

.timeslots {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 1rem;
}

.slot, .save-button {
  padding: 1rem;
  background-color: #eee;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.2s;
}

.save-button {
  margin-top: 1rem;
}

.slot:hover, .save-button:hover {
  background-color: #ddd;
}

.selected {
  background-color: #0077cc;
  color: white;
}

.selected:hover {
  background-color: #005fa3;
}

.summary {
  flex: 1;
  background: white;
  padding: 1rem;
  border-radius: 8px;
}

.summary p {
  margin: 1rem 0;
}

#confirm {
  padding: 0.75rem 1rem;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#confirm:hover {
  background-color: #005fa3;
}

#confirm:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.hidden {
  display: none;
}